extends base
block content
	if isLoggedIn
		.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100.text-center
			p(style='font-size: 1.5rem;') You are already logged in.
			//- You can add more content or links here for logged-in users
	else
		.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100.text-center
			//- Login form
			form(action='/forgotPassword', method='post')
				.mb-5
					label(class='form-label', style='font-size: 4rem;') Please enter your email
				.mb-3
					label(for='email', class='form-label', style='font-size: 1.5rem;') Email
					input#email.form-control(type='email', name='email', placeholder='Enter your email', required, style='font-size: 1.5rem;')
				button.btn.btn-primary(type='submit', style='font-size: 1.5rem;') Submit
				.mb-3
					label(class='form-label', style='font-size: 1.5rem;') #{feedback}