extends base

block content
	if isLoggedIn
		//- Content for logged-in users
		.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100.text-center
			p.display-4 Welcome #{username}
			a.btn.btn-primary.btn-lg.mt-3.w-50(href='/lists') My Lists
			a.btn.btn-primary.btn-lg.mt-3.w-50(href='/profile') My Account
			a.btn.btn-primary.btn-lg.mt-3.w-50(href='/about') About Developer
	else
		.d-flex.flex-column.justify-content-center.align-items-center.min-vh-100.text-center
			img(src='/img/totick-logo.png' alt='Hero Image' style='background-color:black; width:100px;' class='img-fluid mb-4')
			p.display-5.manage-your-day
				| Manage your day with easy to use, seamless, all in one To do list service
			a.btn.btn-primary.btn-lg.mt-3.w-50(href='/signup') Get Started now
